body {
    font-family: 'Comic Sans MS', cursive, sans-serif; 
    margin: 0;
    padding: 0;
    background-color: black; 
    color: white; 
  }
  
  .header {
    background-color: #0dcc37;
    color: white;
    padding: 5px;
    font-size:30px;
    text-align:center;
    
  }
  
  .content {
    padding: 20px;
  }
  
  h1 {
    font-size: 36px; 
  }

  h5 {
    font-size: 20px; 
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  